@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.App {
  text-align: center;
}


.center-elements {
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}