@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.App {
  text-align: center;
}

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Unica One', cursive;
  color: white;
}

.center-elements {
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.splash-page-logo-image {
  width: 500px;
  border: 4px rgba(49, 220, 37, 0.596) solid;
} 