@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.home-buttons {
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(117, 187, 117);
    color: whitesmoke;
    font-family: 'Unica One', cursive;
    font-weight: 700;
    cursor: pointer;
    padding: 30px;
    font-size: large;
    border-radius: 30px;
    }

.home-buttons:hover{
    background-color:gold;
    color: hotpink;
    text-shadow: black 1px 1px;
}

  .about-app {
    font-family: 'Unica One', cursive;
    font-size: x-large;
  }